:root {
  --white: #fff;
  --black: #000;
  --darkgrey: #434343;
  --font14: 14px;
  --font-16: 16px;
  --regular: 400;
  --light: 300;
  --medium: 500;
  --bold: 700;
  --blackweight: 900;
  --bodyfont: 'Rubik', sans-serif;
  --headingfont: 'Prata', serif;
  --red: #ed1b23;
  --transition: 300ms ease all;
  --yellow: #fec512;
  --titlecolor: #121212;
  --light-red: #fffbfb;

}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.7;
  font-size: var(--font-16);
  font-family: var(--bodyfont);
  color: var(--darkgrey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingfont);
  margin: 0;
  margin-bottom: 20px;
  transition: var(--transition);
  color: var(--titlecolor);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 26px;
}

h6 {
  font-size: 22px;
}

.newsletter-section,
.slick-slider button.slick-arrow,
.about-content,
figure {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--darkgrey);
  display: inline-block;
  transition: var(--transition);
}

a:hover,
a:focus {
  color: var(--yellow);
}

img {
  max-width: 100%;
  height: auto;
}

.quick-links ul,
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  background-color: var(--red);
  padding: 12px 40px;
  border-radius: 5px;
  line-height: 1;
  color: var(--white);
  text-transform: capitalize;
  transition: var(--transition);
  font-weight: var(--medium);
  letter-spacing: 1px;
}

.btn:hover,
.btn:focus {
  background-color: var(--yellow);
  color: var(--white);
}

.section-padding {
  padding: 100px 0;
}

.section-title-wrapper {
  margin-bottom: 50px;
}

.section-title-wrapper p {
  max-width: 480px;
  margin: 0 auto;
}

section {
  position: relative;
}

.absolute_image {
  position: absolute;
  bottom: 0;
  right: 40px;
  opacity: 0.6;
}

.absolute_image img {
  max-width: 150px;
}

/* header css */
/* ================================= */
header {
  padding: 15px 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  transition: var(--transition);
}

header.sticky {
  padding: 10px 25px;
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header.sticky nav ul li a {
  font-size: var(--font14);
  margin: 0 15px;
  color: var(--titlecolor);
}

header.sticky .logo img {
  max-width: 90px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 3px 0;
  margin: 0 20px;
  color: var(--white);
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  transition: var(--transition);
}

nav ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: var(--yellow);
  transition: var(--transition);
}

header.sticky nav ul li a:hover,
header.sticky nav ul li a:focus {
  color: var(--yellow);
}

nav ul li a:hover::before,
nav ul li a:focus::before {
  width: 100%;
}

.logo img {
  max-width: 150px;
  transition: var(--transition);
}

header .row {
  align-items: center;
}

/* main banner section css */
/* =================================== */
.main-banner-section {
  height: 100vh;
  overflow: hidden;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56%;
  height: 0;
}

.innerpage-hero-section::before,
.video-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2e2e2e;
  opacity: .5;
  z-index: 2;
}

.video-wrapper iframe {
  position: absolute;
  height: 100%;
  width: 100%;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: var(--white);
}

.banner-content h1 {
  max-width: 450px;
  color: var(--white);
}

/* about section css */
/* ================================ */
.about-content {
  display: flex;
  align-items: center;
  background-color: rgb(237 27 35 / 4%);
}

.about-content-wrapper {
  max-width: 570px;
  padding: 50px;
}

.about-content-wrapper p {
  margin-bottom: 30px;
}

.slick-slider button.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.slick-slider button.slick-arrow::before {
  content: "";
  position: absolute;
  background-image: url('/icon-right.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slick-slider {
  overflow: hidden;
}

.slick-initialized .slick-slide {
  padding: 0 30px;
}

.slick-slider button.slick-prev.slick-arrow {
  left: -50px;
  transform: scale(-1, -1) translateY(-50%);
  margin-top: -42px;
}

.slick-slider button.slick-next.slick-arrow {
  right: -50px;
}

.slick-slider:hover button.slick-prev.slick-arrow {
  left: 0;
}

.slick-slider:hover button.slick-next.slick-arrow {
  right: 0;
}

.slick-slider:hover button.slick-arrow {
  opacity: 1;
  visibility: visible;
}

.benefit-section .container,
.product-slider-section .container {
  max-width: 1200px;
}

.slick-track {
  display: flex;
  align-items: center;
}

.product-list-page .benefit-wrapper {
  margin-bottom: 50px;
}

.product-list-page {
  padding-bottom: 50px;
}

/* benefit section css */
/* ============================== */
.faq-section,
.benefit-section {
  background-color: rgb(237 27 35 / 4%);
  color: var(--darkgrey);
}

.benefit-wrapper img {
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.benefit-wrapper p {
  font-size: var(--font14);
  margin: 0;
}

.benefit-section .col-lg-3 {
  padding: 0 30px;

}

.benefit-section .col-lg-3:not(:last-child) {
  border-right: 1px solid rgb(0 0 0 / 4%);
}

.benefit-section .col-lg-4 {
  padding: 0 20px;
}

.blog-image-wrapp {
  padding: 10px;
  border: 2px solid #f7f7f7;
  margin-bottom: 20px;
  transition: var(--transition);
}

.blog-image-wrapp:hover {
  border-color: var(--yellow);
}

.blog-image-wrapp img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog-page-section {
  padding-bottom: 70px;
}

.blog-page-section .blog-wrapper {
  margin-bottom: 30px;
}

.blog-discription img {
  margin: 20px 0 40px;
}

.blog-discription {
  padding-top: 70px;
}

/* newsletter section css */
/* ===================================== */
.newsletter-section {
  color: var(--white);
  padding: 80px 0;
  position: relative;
  background-color: #ed1b23;
}

.newsletter-section .section-title-wrapper {
  margin-bottom: 40px;
}

.newsletter-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: url('/background-partten.png');
  background-position: top left;
  opacity: 0.1;
  background-size: 100px;
  background-repeat: repeat;
}

.newsletter-section .container {
  position: relative;
  z-index: 2;
}

.cta-section .btn {
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 20px;
}

.cta-section .btn {
  background-color: var(--white);
  line-height: 1;
  color: #121212;
  border-radius: 5px;
  padding: 18px 50px;
  font-size: 18px;
}

.cta-section .btn:hover {
  background-color: var(--yellow);
  color: var(--white);
}

.newsletter-section .section-title-wrapper h2 {
  color: #fff;
  max-width: 40%;
  margin: 0 auto;
  line-height: 1.5;
}

/* offer section css */
/* ======================================= */
.contact-form-wrapper input,
.contact-form-wrapper textarea,
form.offer-form input {
  padding: 8px 15px;
  border: 1px solid #efb3b3;
  background: var(--light-red);
  outline: none;
  border-radius: 5px;
}

.contact-form-wrapper input::placeholder,
.contact-form-wrapper textarea::placeholder,
form.offer-form input::placeholder {
  color: #b6b6b6;
}

/* footer css */
/* ======================================= */
footer {
  background-color: #141414;
  padding: 50px 0;
  color: #f1f1f1;
  padding-bottom: 25px;
  padding-bottom: 0;
  overflow: hidden;
}

.footer-logo img {
  max-width: 150px;
  margin-bottom: 15px;
}

.social-media li {
  display: inline-block;
  margin: 0 5px;
  transition: var(--transition);
}

.social-media li:hover {
  transform: scale(1.1);
}

.social-media li svg {
  width: 20px;
}

footer h6,
.quick-links h6 {
  color: #f1f1f1;
}

.logo-side p a {
  color: #f1f1f1;
  text-transform: uppercase;
}

.logo-side p {
  font-size: var(--font14);
  max-width: 80%;
}

.social-media {
  margin-bottom: 30px;
  padding: 0;
}

footer p {
  font-size: var(--font14);
}

.quick-links ul li a {
  color: #f1f1f1;
  margin-bottom: 10px;
  position: relative;
}

.quick-links ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  height: 1px;
  background-color: var(--white);
  transition: var(--transition);
  width: 0;
  bottom: 0;
}

.quick-links ul li a:hover::before,
.quick-links ul li a:focus::before {
  width: 100%;
}

.newsletter-form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 15px;
  width: calc(100% - 136px);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 44px;
}

.newsletter-wrapper p {
  margin-bottom: 20px;
}

.newsletter-form input::placeholder {
  color: #c0c0c0;
  font-size: var(--font14);
}

.newsletter-form {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.newsletter-form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 13px 30px;
}

.copy-right-text {
  border-top: 1px solid #434343;
  padding-top: 15px;
  margin-top: 15px;
}

.copy-right-text p {
  color: #878787;
}

/* contact page css */
.innerpage-hero-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerpage-hero-section::before {
  opacity: 0.6;
}

.page-title-wrapper {
  text-align: center;
  position: relative;
  z-index: 2;
  color: var(--white);
  padding-top: 100px;
}

.page-title-wrapper h1 {
  color: var(--white);
}

.page-title-wrapper p {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form-section .section-title-wrapper p {
  margin: 0;
}

ul.contact-info {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.contact-info li {
  margin-bottom: 10px;
}

.contact-form-wrapper input,
.contact-form-wrapper textarea {
  width: 100%;
  margin-bottom: 10px;
}

.map-section {
  line-height: 0;
}

.map-section iframe {
  width: 100%;
}

/* about page css */
/* ========================================= */
.about-info-section .about-image-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-info-section .about-content-wrapper p {
  margin-bottom: 20px;
}

.about-info-section .about-content-wrapper h2 {
  margin-bottom: 30px;
}

.about-discription {
  padding-top: 60px;
}

/* faq css */
.collapsible-tabs__wrapper {
  max-width: 900px;
  margin: auto;
}

.collapsible-tabs__wrapper h6 {
  margin: 0;
}

.collapsibles-wrapper:last-child {
  border-bottom: 1px solid #1212121f;
}

.collapsibles-wrapper .collapsible-trigger-btn {
  background: none;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #1212121f;
  position: relative;
}

.collapsibles-wrapper .collapsible-trigger-btn > span {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.collapsibles-wrapper .collapsible-trigger-btn .minus-icon,
.collapsibles-wrapper.collapsible-tab__open .collapsible-trigger-btn .plus-icon {
  display: none;
}

.collapsibles-wrapper.collapsible-tab__open .collapsible-trigger-btn .minus-icon,
.collapsibles-wrapper .collapsible-trigger-btn .plus-icon {
  display: block;
}

.collapsibles-wrapper .collapsible-trigger-btn > span > svg {
  width: 15px;
  height: 15px;
}

.collapsibles-wrapper .collapsible-content {
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.4s ease, max-height 0.5s ease, visibility 0.3s ease;
}

.collapsibles-wrapper.collapsible-tab__open .collapsible-content {
  visibility: visible;
  opacity: 1;
  max-height: 800px;
}

.collapsibles-wrapper .collapsible-content__inner {
  padding-bottom: 20px;
  padding-top: 10px;
}

.collapsibles-wrapper .collapsible-content__inner p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}